
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #efeae4;
    display: grid;
    place-items: center;
    color: #fff;
    min-height: 100vh;
  }

  h1{
    color: #769293;
    font-size: 64px;
  }

  h2{
    color: black;
    font-size: 36px;text-align: center;
  }

  .counter{
    min-width: 60%;
    min-height: 60%;
    box-shadow: 5px 5px 5px 5px rgba(118, 146, 147, 0.1);
    gap: 10px;
    grid-template: repeat(3, 1fr) / repeat(1, 1fr);
    grid-auto-flow: column;
    border-radius: 2em;
    display: table;
  }

  .div_counter {
    margin: 5% auto;
    width: 100%;
    text-align: center;
    color: #769293;
    display:grid;
    vertical-align: auto;

  }

  .text_counter{
    font-size: 100px;
  }

  .container_button {
    display: grid;
    place-items: center;
    height: 30%;

  }

.div_button {
    width: 60%;
    height: 64px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.button{
  background-color: #efeae4;
  height: 100%;
  margin-left: 36px;
  margin-right: 36px;
}

#increment_button{
  border: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/increment.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
} 

#decrement_Button{
  border: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/decrement.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;

}

#reset_Button{
  border: none;
  width: 100%;
  height: 100%;
  background-image: url(../img/reset.svg);
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
}

/*footer*/
.footer{
  width: 100%;
}
  
.img_footer{
  display: inline-block;
  width: 8%;
  margin: 2%;
}

.footer_gallery{
  margin-top: 10%;
  width: 33%;
  margin: 0 auto;
  text-align: center;
}

.text_footer{
  margin: 1% auto 0 auto;
  text-align: center;
  width: 100%;
  font-size: 20px;
  color: black;
  padding-bottom: 3%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

  /*
  media screen
  */
  @media screen and (max-width: 1300px) {
    h1{
      font-size: 32px;
    }
    
    h2{
      font-size: 28px;
    }

    .text_footer{
      font-size: 16px;
    }
    .footer{
      width: 100%;
     }

    .div_button{
      width: 80%;
      margin: 0 auto;
    }

    .container_button{
      width: 100;
    }
  }

    
  /*
  small screen
  */
  
  @media screen and (max-width: 600px) {
     .counter{
      margin-top: 8px;
       width: 80%;
     }

     .div_button{
      width: 100%;
     }
     .container_button{
       width: 100%;
     }

     h1{
      font-size: 28px;
     }
    
     h2{
      font-size: 24px;
     }

     .text_footer{
        font-size: 12px;
     }
     .footer{
        width: 100%;
     }

     .div_button{
        width: 80%;
        margin: 0 auto;
     }

     .container_button{
        width: 100;
     }
    }
    



